body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff !important;
  background: #051b14;
  background: linear-gradient(124deg, #051b14 0%, #1b332e 100%);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffffff00 !important;
}
.navbar .navbar-brand-Logo {
  width: 50px;
  border-radius: 50px;
}
.navbar .divisorIcon {
  display: none;
  align-items: center;
  margin: 10px;
}
.navbar .divisorIcon i {
  width: 10px;
  margin-right: 7px;
}
.navbar .divisorIcon a {
  font-size: 10px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms !important;
}
.navbar .divisorIcon-Nav {
  display: none;
}
.navbar .siteTitle {
  text-decoration: none;
  color: #ffffff !important;
}

.btn {
  background-color: #ABDDD2;
  border: 2px solid #107a62;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
  transition: 300ms;
}
.btn .btn-icon {
  color: #01271c !important;
}
.btn:hover {
  background-color: #DB5939;
  color: #ffffff;
}

.navbar-toggler {
  background-color: #ABDDD2 !important;
  border: 2px solid #107a62;
}
.navbar-toggler .navbar-toggler-icon {
  color: #01271c !important;
}
.navbar-toggler:hover {
  background-color: #ABDDD2 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
}

.dropdown-item:hover {
  color: #ABDDD2 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
}

.navText {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff !important;
  transition: 100ms;
  padding: 8px;
}
.navText:hover {
  color: #ABDDD2 !important;
}

.navTextActive {
  text-decoration: none;
  text-transform: uppercase;
  color: #ABDDD2 !important;
  transition: 100ms;
  padding: 8px;
}
.navTextActive:hover {
  color: #ffffff !important;
}

.textLinks {
  text-decoration: none;
  color: #ffffff !important;
  transition: 100ms;
  padding: 8px;
}
.textLinks:hover {
  color: #ABDDD2 !important;
}

footer .footerBase {
  display: flex;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}
footer .footerBase .logoFooter {
  width: 50px;
  border-radius: 50px;
}
footer .footerBase p {
  font-size: 8px;
  margin-left: 1px;
  text-align: center;
  margin: auto;
}
footer .footerDown {
  display: flex;
  flex-wrap: wrap;
}
footer .footerDown a {
  font-size: 10px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms !important;
}
footer .footerDown a:hover {
  color: #ABDDD2;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
}
footer .footerDown .groupFooter {
  display: flex;
  align-items: center;
  margin: auto;
}
footer .footerDown .groupFooter i {
  width: 10px;
  margin-right: 7px;
}
footer .footerDown .groupFooter a {
  font-size: 10px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms !important;
}
footer .footerDown .groupFooter:hover {
  color: #ABDDD2 !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
}

.titleDestaque {
  color: #ffffff !important;
  margin: 10px;
}

.loginPC {
  display: flex;
  flex-direction: row;
  margin: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
  padding: 10px;
  background-image: url(..//img/backgroundGreenMobile.png);
  background-size: 100%;
  border-radius: 10px;
  border: 2px solid #83838383;
}
.loginPC .bannerLogin {
  justify-content: space-evenly;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.loginPC .bannerLogin .imgLoginPC {
  width: 50%;
  align-items: center;
  margin: auto;
  display: none;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
}
.loginPC .bannerLogin .imgLoginPC2 {
  display: none;
}
.loginPC .bannerLogin .imgLoginMobile {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
}
.loginPC .formLogin {
  margin: 10px;
}

.resetPassword {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-around;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
  padding: 10px;
  background-image: url(..//img/backgroundGreenMobile.png);
  background-size: 100%;
  border-radius: 10px;
  border: 2px solid #83838383;
}
.resetPassword .bannerPassword {
  justify-content: space-around;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.resetPassword .bannerPassword .formReset {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.resetPassword .bannerPassword .formReset .btn-close {
  background-color: #DB5939 !important;
  opacity: 80%;
  transition: 300ms;
}
.resetPassword .bannerPassword .formReset .btn-close:hover {
  opacity: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
}

.modal-content {
  color: #ffffff !important;
  background: #01271c;
  background: linear-gradient(124deg, #01271c 0%, #107a62 100%);
  background-repeat: no-repeat;
}

.btn-close {
  background-color: #DB5939 !important;
  opacity: 80%;
  transition: 300ms;
}
.btn-close:hover {
  opacity: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
}

.containerBox {
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 40px;
  border: 2px solid #ABDDD2;
}

.container-cards {
  margin: 10px;
  justify-content: space-evenly;
  padding: 10px;
}
.container-cards .card {
  background-color: #203b35;
  color: #ffffff;
  overflow: hidden;
}
.container-cards .card .card-body {
  text-decoration: none;
}
.container-cards .card .card-body .car-btn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.container-cards .card .card-body .car-btn .card-price {
  color: #DB5939 !important;
  font-weight: 700;
  font-size: 25px;
  text-shadow: 0 2px 2px rgba(251, 255, 0, 0.25) !important;
  transition: 300ms;
}
.container-cards .card .card-body .car-btn .card-price:hover {
  color: #ffffff !important;
}
.container-cards .card .card-body .car-btn .card-promo {
  color: #DB5939 !important;
  padding: 5px;
  font-weight: 600;
  font-size: 22px;
  text-shadow: 0 2px 2px rgba(251, 255, 0, 0.25) !important;
  transition: 300ms;
  text-decoration: line-through;
  opacity: 80%;
}

.bannerPromo {
  width: 90%;
  margin: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.promoLabel-none {
  display: none;
}

.promoLabel {
  display: block !important;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #58C25A;
  top: 20px;
  left: -40px;
  padding: 5px 40px 5px 40px;
}

.containerHeader {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.containerHeader .btnCreator {
  background-color: #203b35;
  color: #ABDDD2;
  text-align: center;
  padding: auto;
  align-content: center;
  border-radius: 0px;
  font-weight: 700;
}
.containerHeader .btnCreator:hover {
  background-color: #DB5939;
  color: #ffffff;
  opacity: 90%;
}
.containerHeader a {
  text-decoration: none;
  color: #ABDDD2;
  transition: 200ms;
}
.containerHeader a:hover {
  color: #58C25A;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
}

.containerStore {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.containerStore .containerStore-base {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}
.containerStore .containerStore-base .containerStore-base-carousel {
  background-color: #203b35;
  width: 80%;
}
.containerStore .containerStore-base .containerStore-base-info {
  width: 30%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.containerStore .containerStore-base .containerStore-base-info img {
  width: 100%;
}
.containerStore .containerStore-base .containerStore-base-info .gameDescription {
  margin-top: 5px;
  font-size: 16px;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions .titleFuncion {
  color: #adadadaf;
  margin-right: 10px;
  font-size: 12px;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions .analiseBoa {
  color: #87ddff;
  font-size: 12px;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions .analiseNeutra {
  color: #ffde83;
  font-size: 12px;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions .analiseRuim {
  color: #ff8383;
  font-size: 12px;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions .creatorLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}
.containerStore .containerStore-base .containerStore-base-info .fuctions .creatorLink:hover {
  color: #81a2d4;
}

.containerStore-main {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}
.containerStore-main .containerStore-main-left {
  width: 70%;
  height: 100px;
  background-color: #58C25A;
}
.containerStore-main .containerStore-main-right {
  width: 30%;
  height: 100px;
  background-color: #107a62;
}

.carousel-indicators img {
  width: 120px;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.carousel-indicators button {
  width: max-content !important;
}

.carousel-indicators {
  position: unset;
  display: flex;
  margin-bottom: 3rem;
}

@media (min-width: 480px) {
  footer {
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.05);
  }

  .footerBox {
    margin: auto;
    width: 70%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 800px) {
  .loginPC {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    padding: 10px;
    background-image: url(..//img/backgroundGreenPC.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;
  }
  .loginPC .bannerLogin {
    justify-content: space-evenly;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
  .loginPC .bannerLogin .imgLoginPC2 {
    width: 40%;
    height: auto;
    margin: 10px;
    display: flex;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
  }
  .loginPC .bannerLogin .imgLoginPC {
    display: none;
  }
  .loginPC .bannerLogin .imgLoginMobile {
    display: none;
  }
  .loginPC .formLogin {
    margin: 10px;
  }

  .resetPassword {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-around;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    padding: 10px;
    background-image: url(..//img/backgroundGreenMobile.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;
  }
  .resetPassword .bannerPassword {
    justify-content: space-around;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .resetPassword .bannerPassword .clas {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .carrouselPC {
    display: flex;
  }

  .carrouselMobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar .divisorIcon-Nav {
    display: flex;
  }

  .loginPC {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    padding: 10px;
    background-image: url(..//img/backgroundGreenPC.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;
  }
  .loginPC .bannerLogin {
    justify-content: space-evenly;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
  .loginPC .bannerLogin .imgLoginPC {
    width: 40%;
    margin: 10px;
    display: flex;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
  }
  .loginPC .bannerLogin .imgLoginPC2 {
    display: none;
  }
  .loginPC .bannerLogin .imgLoginMobile {
    display: none;
  }
  .loginPC .formLogin {
    margin: 10px;
  }

  .resetPassword {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-around;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    padding: 10px;
    background-image: url(..//img/backgroundGreenMobile.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;
  }
  .resetPassword .bannerPassword {
    justify-content: space-around;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .resetPassword .bannerPassword .formReset {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .containerBox {
    width: 70%;
    margin: auto;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
