$corPrimaria: #58C25A;
$corSecundaria: #FFD51D;
$corFundo: #004733;
$corFundoEscura: #01271c;
$corFundoClara: #107a62;
$corBotoes: #ABDDD2;
$corBotoesHover: #81a2d4;
$corBotoesEscuros: #203b35;
$corBotoesAvisos: #DB5939;
$corTexto: #ffffff;
$corTextoHover: #ABDDD2;
$corTextoEscuro: #182E29;
$corTextoPreco: #DB5939;


body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $corTexto !important;
    background: rgb(1, 39, 28);
    background: linear-gradient(124deg, rgba(1, 39, 28, 1) 0%, rgb(16, 122, 98) 100%);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffffff00 !important;

    & &-brand {
        &-Logo {
            width: 50px;
            border-radius: 50px;
        }
    }




    & .divisorIcon {
        display: none;
        align-items: center;
        margin: 10px;

        i {
            width: 10px;
            margin-right: 7px;
        }

        a {
            font-size: 10px;
            color: $corTexto !important;
            text-decoration: none;
            transition: 300ms !important;

        }
    }

    & .divisorIcon-Nav {
        display: none;
    }

    & .siteTitle {
        text-decoration: none;
        color: $corTexto !important;
    }

}



.btn {
    background-color: $corBotoes;
    border: 2px solid $corFundoClara;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
    transition: 300ms;

    & &-icon {
        color: $corFundoEscura !important;

    }

    &:hover {
        background-color: $corBotoesAvisos;
        color: $corTexto;
    }
}

.navbar-toggler {
    background-color: $corBotoes !important;
    border: 2px solid $corFundoClara;

    & &-icon {
        color: $corFundoEscura !important;

    }

    &:hover {
        background-color: $corBotoes !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
    }
}

.dropdown-item {
    &:hover {
        color: $corTextoHover !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    }
}

.navText {
    text-decoration: none;
    text-transform: uppercase;
    color: $corTexto !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTextoHover !important;
    }
}

.navTextActive {
    text-decoration: none;
    text-transform: uppercase;
    color: $corTextoHover !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTexto !important;
    }

}

.textLinks {
    text-decoration: none;
    color: $corTexto !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTextoHover !important;
    }
}

footer {

    margin: 10px;

    .footerBase {
        display: flex;

        align-items: center;
        margin: auto;
        box-sizing: border-box;

        & .logoFooter {
            width: 50px;
            border-radius: 50px;
        }

        p {
            font-size: 8px;
            margin-left: 1px;
            text-align: center;
            margin: auto;
        }
    }

    .footerDown {
        display: flex;
        flex-wrap: wrap;

        a {
            font-size: 10px;
            color: $corTexto !important;
            text-decoration: none;
            transition: 300ms !important;

            &:hover {
                color: $corTextoHover;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;

            }
        }

        & .groupFooter {
            display: flex;
            align-items: center;
            margin: auto;

            i {
                width: 10px;
                margin-right: 7px;
            }

            a {
                font-size: 10px;
                color: $corTexto !important;
                text-decoration: none;
                transition: 300ms !important;

            }

            &:hover {
                color: $corTextoHover !important;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
            }
        }
    }

}

.titleDestaque {
    color: $corTexto !important;
    margin: 10px;
}


.loginPC {
    display: flex;
    flex-direction: row;
    margin: 20px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



    padding: 10px;
    background-image: url(..//img/backgroundGreenMobile.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;

    & .bannerLogin {
        justify-content: space-evenly;
        padding: 5px;
        display: flex;
        flex-direction: column;

        & .imgLoginPC {
            width: 50%;
            align-items: center;
            margin: auto;
            display: none;
            border-radius: 5px 0px 0px 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
        }

        & .imgLoginPC2 {
            display: none;
        }

        & .imgLoginMobile {
            display: flex;
            margin: auto;
            width: 100%;
            align-items: center;
            border-radius: 5px 5px 0px 0px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
        }

    }



    & .formLogin {
        margin: 10px;
    }




}






.resetPassword {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



    padding: 10px;
    background-image: url(..//img/backgroundGreenMobile.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;

    & .bannerPassword {
        justify-content: space-around;
        padding: 5px;
        display: flex;
        flex-direction: column;

        & .formReset {
            display: flex;
            flex-direction: column;
            margin: auto;

            & .btn-close {
                background-color: $corBotoesAvisos !important;
                opacity: 80%;
                transition: 300ms;

                &:hover {
                    opacity: 100%;
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
                }
            }
        }

    }
}


.modal-content {
    color: $corTexto !important;
    background: rgb(1, 39, 28);
    background: linear-gradient(124deg, rgba(1, 39, 28, 1) 0%, rgba(16, 122, 98, 1) 100%);
    background-repeat: no-repeat;
}

.btn-close {
    background-color: $corBotoesAvisos !important;
    opacity: 80%;
    transition: 300ms;

    &:hover {
        opacity: 100%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    }
}


.carousel{
    width: 100%;
    margin: auto;
}


.container-cards{
    margin: 10px;
    justify-content: space-evenly;
    & .card-body{
        text-decoration: none;
        & div{
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
    }
    & .card-price{
        color: $corTextoPreco !important;
        font-weight: 700;
        font-size: 25px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
    }
}





// .loginPC {
//     display: flex;
//     flex-direction: column;
//     margin: 20px;
//     margin-left: 20%;
//     margin-right: 20%;



//     padding: 10px;
//     background-image: url(..//img/backgroundGreenPC.png);
//     border-radius: 10px;
//     border: 2px solid #83838383;

//     & .bannerLogin {
//         justify-content: space-evenly;
//         padding: 5px;
//         display: flex;

//         & .imgLoginPC{
//             width: 40%;
//             margin: 10px;
//             border-radius: 5px 0px 0px 5px;
//             box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
//         }

//     }



//     & .formLogin{
//         margin: 10px;
//     }




// }



//Desktop

@media (min-width: 480px) {
    footer {

        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;

    }

}

@media (min-width: 800px) {
    .loginPC {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
        padding: 10px;
        background-image: url(..//img/backgroundGreenPC.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerLogin {
            justify-content: space-evenly;
            padding: 5px;
            display: flex;
            flex-direction: row;

            & .imgLoginPC2 {
                width: 40%;
                height: auto;
                margin: 10px;
                display: flex;
                border-radius: 5px 0px 0px 5px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
            }

            & .imgLoginPC {
                display: none;
            }

            & .imgLoginMobile {
                display: none;
            }
        }

        & .formLogin {
            margin: 10px;
        }
    }

    .resetPassword {
        display: flex;
        flex-direction: row;
        margin: 20px;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: space-around;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



        padding: 10px;
        background-image: url(..//img/backgroundGreenMobile.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerPassword {
            justify-content: space-around;
            padding: 5px;
            display: flex;
            flex-direction: column;

            & .clas {
                display: flex;
                flex-direction: column;
                margin: auto;
            }
        }
    }

    .carrouselPC{
        display: flex;
    }
    .carrouselMobile{
        display: none;
    }
    .carousel{
        width: 80%;
        margin: auto;
    }
    
}

@media (min-width: 992px) {
    .navbar {
        & .divisorIcon-Nav {
            display: flex;
        }
    }

    .loginPC {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
        padding: 10px;
        background-image: url(..//img/backgroundGreenPC.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerLogin {
            justify-content: space-evenly;
            padding: 5px;
            display: flex;
            flex-direction: row;

            & .imgLoginPC {
                width: 40%;
                margin: 10px;
                display: flex;
                border-radius: 5px 0px 0px 5px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
            }

            & .imgLoginPC2 {
                display: none;
            }

            & .imgLoginMobile {
                display: none;
            }
        }

        & .formLogin {
            margin: 10px;
        }
    }

    .resetPassword {
        display: flex;
        flex-direction: row;
        margin: 20px;
        margin-left: 30%;
        margin-right: 30%;
        justify-content: space-around;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



        padding: 10px;
        background-image: url(..//img/backgroundGreenMobile.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerPassword {
            justify-content: space-around;
            padding: 5px;
            display: flex;
            flex-direction: column;

            & .formReset {
                display: flex;
                flex-direction: column;
                margin: auto;
            }
        }
    }
}