body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff !important;
  background: #01271c;
  background: linear-gradient(124deg, #01271c 0%, #107a62 100%);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffffff00 !important;
}
.navbar .navbar-brand-Logo {
  width: 50px;
  border-radius: 50px;
}
.navbar .divisorIcon {
  display: none;
  align-items: center;
  margin: 10px;
}
.navbar .divisorIcon i {
  width: 10px;
  margin-right: 7px;
}
.navbar .divisorIcon a {
  font-size: 10px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms !important;
}
.navbar .divisorIcon-Nav {
  display: none;
}
.navbar .siteTitle {
  text-decoration: none;
  color: #ffffff !important;
}

.btn {
  background-color: #ABDDD2;
  border: 2px solid #107a62;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
}
.btn .btn-icon {
  color: #01271c !important;
}
.btn:hover {
  background-color: #ABDDD2;
}

.navbar-toggler {
  background-color: #ABDDD2 !important;
  border: 2px solid #107a62;
}
.navbar-toggler .navbar-toggler-icon {
  color: #01271c !important;
}
.navbar-toggler:hover {
  background-color: #ABDDD2 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
}

.dropdown-item:hover {
  color: #ABDDD2 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
}

.navText {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff !important;
  transition: 100ms;
  padding: 8px;
}
.navText:hover {
  color: #ABDDD2 !important;
}

.navTextActive {
  text-decoration: none;
  text-transform: uppercase;
  color: #ABDDD2 !important;
  transition: 100ms;
  padding: 8px;
}
.navTextActive:hover {
  color: #ffffff !important;
}

footer {
  margin: 10px;
}
footer .footerBase {
  display: flex;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}
footer .footerBase .logoFooter {
  width: 50px;
  border-radius: 50px;
}
footer .footerBase p {
  font-size: 8px;
  margin-left: 1px;
  text-align: center;
  margin: auto;
}
footer .footerDown {
  display: flex;
  flex-wrap: wrap;
}
footer .footerDown a {
  font-size: 10px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms !important;
}
footer .footerDown a:hover {
  color: #ABDDD2;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
}
footer .footerDown .groupFooter {
  display: flex;
  align-items: center;
  margin: auto;
}
footer .footerDown .groupFooter i {
  width: 10px;
  margin-right: 7px;
}
footer .footerDown .groupFooter a {
  font-size: 10px;
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms !important;
}
footer .footerDown .groupFooter:hover {
  color: #ABDDD2 !important;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
}

.titleDestaque {
  color: #ffffff !important;
  margin: 10px;
}

.loginPC {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 20px;
  background-image: url(..//img/loginPhotoPC.png);
  z-index: -99;
}
.loginPC .bannerLogin {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.loginPC .bannerLogin .imgLoginPC {
  width: 40%;
}
.loginPC .bannerLogin .sa {
  background-image: url(..//img/backgroundGreen.png);
  z-index: 99;
}

@media (min-width: 480px) {
  footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
  }
}
@media (min-width: 990px) {
  .navbar .divisorIcon-Nav {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
