$corPrimaria: #58C25A;
$corSecundaria: #FFD51D;
$corFundo: #004733;
$corFundoEscura: #01271c;
$corFundoClara: #107a62;
$corBotoes: #ABDDD2;
$corBotoesEscuros: #203b35;
$corTexto: #ffffff;
$corTextoHover: #ABDDD2;
$corTextoEscuro: #182E29;



body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $corTexto !important;
    background: rgb(1, 39, 28);
    background: linear-gradient(124deg, rgba(1, 39, 28, 1) 0%, rgba(16, 122, 98, 1) 100%);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffffff00 !important;

    & &-brand {
        &-Logo {
            width: 50px;
            border-radius: 50px;
        }
    }




    & .divisorIcon {
        display: none;
        align-items: center;
        margin: 10px;

        i {
            width: 10px;
            margin-right: 7px;
        }

        a {
            font-size: 10px;
            color: $corTexto !important;
            text-decoration: none;
            transition: 300ms !important;

        }
    }

    & .divisorIcon-Nav {
        display: none;
    }

    & .siteTitle {
        text-decoration: none;
        color: $corTexto !important;
    }

}



.btn {
    background-color: $corBotoes;
    border: 2px solid $corFundoClara;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;

    & &-icon {
        color: $corFundoEscura !important;

    }

    &:hover {
        background-color: $corBotoes;
    }
}

.navbar-toggler {
    background-color: $corBotoes !important;
    border: 2px solid $corFundoClara;

    & &-icon {
        color: $corFundoEscura !important;

    }

    &:hover {
        background-color: $corBotoes !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
    }
}

.dropdown-item {
    &:hover {
        color: $corTextoHover !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    }
}

.navText {
    text-decoration: none;
    text-transform: uppercase;
    color: $corTexto !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTextoHover !important;
    }
}

.navTextActive {
    text-decoration: none;
    text-transform: uppercase;
    color: $corTextoHover !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTexto !important;
    }

}



footer {

    margin: 10px;

    .footerBase {
        display: flex;

        align-items: center;
        margin: auto;
        box-sizing: border-box;

        & .logoFooter {
            width: 50px;
            border-radius: 50px;
        }

        p {
            font-size: 8px;
            margin-left: 1px;
            text-align: center;
            margin: auto;
        }
    }

    .footerDown {
        display: flex;
        flex-wrap: wrap;

        a {
            font-size: 10px;
            color: $corTexto !important;
            text-decoration: none;
            transition: 300ms !important;

            &:hover {
                color: $corTextoHover;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;

            }
        }

        & .groupFooter {
            display: flex;
            align-items: center;
            margin: auto;

            i {
                width: 10px;
                margin-right: 7px;
            }

            a {
                font-size: 10px;
                color: $corTexto !important;
                text-decoration: none;
                transition: 300ms !important;

            }

            &:hover {
                color: $corTextoHover !important;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
            }
        }
    }

}

.titleDestaque {
    color: $corTexto !important;
    margin: 10px;
}


.loginPC {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    background-image: url(..//img/loginPhotoPC.png);
    z-index: -99;

    & .bannerLogin {

        padding: 10px;
        display: flex;
        justify-content: space-around;
        & .imgLoginPC{
            width: 40%;
        }
        & .sa{
            background-image: url(..//img/backgroundGreen.png);
            z-index: 99;
        }

    }
}






//Desktop

@media (min-width: 480px) {
    footer {

        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;

    }
}

@media (min-width: 990px) {
    .navbar {
        & .divisorIcon-Nav {
            display: flex;
        }
    }
}