$corPrimaria: #58C25A;
$corSecundaria: #FFD51D;
$corFundo: #004733;
$corFundoEscura: #01271c;
$corFundoClara: #107a62;
$corBotoes: #ABDDD2;
$corBotoesHover: #81a2d4;
$corBotoesEscuros: #203b35;
$corBotoesAvisos: #DB5939;
$corTexto: #ffffff;
$corTextoHover: #ABDDD2;
$corTextoEscuro: #182E29;
$corTextoPreco: #DB5939;

$corTextoFunction: #adadadaf;
$corTextoAnaliseBoa: #87ddff;
$corTextoAnaliseNeutra: #ffde83;
$corTextoAnaliseRuim: #ff8383;

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $corTexto !important;
    background: rgb(5,27,20);
    background: linear-gradient(124deg, rgba(5,27,20,1) 0%, rgb(27, 51, 46) 100%);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navbar {
    background-color: #ffffff00 !important;

    & &-brand {
        &-Logo {
            width: 50px;
            border-radius: 50px;
        }
    }




    & .divisorIcon {
        display: none;
        align-items: center;
        margin: 10px;

        i {
            width: 10px;
            margin-right: 7px;
        }

        a {
            font-size: 10px;
            color: $corTexto !important;
            text-decoration: none;
            transition: 300ms !important;

        }
    }

    & .divisorIcon-Nav {
        display: none;
    }

    & .siteTitle {
        text-decoration: none;
        color: $corTexto !important;
    }

}



.btn {
    background-color: $corBotoes;
    border: 2px solid $corFundoClara;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
    transition: 300ms;

    & &-icon {
        color: $corFundoEscura !important;

    }

    &:hover {
        background-color: $corBotoesAvisos;
        color: $corTexto;
    }
}

.navbar-toggler {
    background-color: $corBotoes !important;
    border: 2px solid $corFundoClara;

    & &-icon {
        color: $corFundoEscura !important;

    }

    &:hover {
        background-color: $corBotoes !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
    }
}

.dropdown-item {
    &:hover {
        color: $corTextoHover !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    }
}

.navText {
    text-decoration: none;
    text-transform: uppercase;
    color: $corTexto !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTextoHover !important;
    }
}

.navTextActive {
    text-decoration: none;
    text-transform: uppercase;
    color: $corTextoHover !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTexto !important;
    }

}

.textLinks {
    text-decoration: none;
    color: $corTexto !important;
    transition: 100ms;
    padding: 8px;

    &:hover {
        color: $corTextoHover !important;
    }
}

footer {


    .footerBase {
        display: flex;

        align-items: center;
        margin: auto;
        box-sizing: border-box;

        & .logoFooter {
            width: 50px;
            border-radius: 50px;
        }

        p {
            font-size: 8px;
            margin-left: 1px;
            text-align: center;
            margin: auto;
        }
    }

    .footerDown {
        display: flex;
        flex-wrap: wrap;

        a {
            font-size: 10px;
            color: $corTexto !important;
            text-decoration: none;
            transition: 300ms !important;

            &:hover {
                color: $corTextoHover;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;

            }
        }

        & .groupFooter {
            display: flex;
            align-items: center;
            margin: auto;

            i {
                width: 10px;
                margin-right: 7px;
            }

            a {
                font-size: 10px;
                color: $corTexto !important;
                text-decoration: none;
                transition: 300ms !important;

            }

            &:hover {
                color: $corTextoHover !important;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.25) !important;
            }
        }
    }

}

.titleDestaque {
    color: $corTexto !important;
    margin: 10px;
}


.loginPC {
    display: flex;
    flex-direction: row;
    margin: 20px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



    padding: 10px;
    background-image: url(..//img/backgroundGreenMobile.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;

    & .bannerLogin {
        justify-content: space-evenly;
        padding: 5px;
        display: flex;
        flex-direction: column;

        & .imgLoginPC {
            width: 50%;
            align-items: center;
            margin: auto;
            display: none;
            border-radius: 5px 0px 0px 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
        }

        & .imgLoginPC2 {
            display: none;
        }

        & .imgLoginMobile {
            display: flex;
            margin: auto;
            width: 100%;
            align-items: center;
            border-radius: 5px 5px 0px 0px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
        }

    }



    & .formLogin {
        margin: 10px;
    }




}






.resetPassword {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



    padding: 10px;
    background-image: url(..//img/backgroundGreenMobile.png);
    background-size: 100%;
    border-radius: 10px;
    border: 2px solid #83838383;

    & .bannerPassword {
        justify-content: space-around;
        padding: 5px;
        display: flex;
        flex-direction: column;

        & .formReset {
            display: flex;
            flex-direction: column;
            margin: auto;

            & .btn-close {
                background-color: $corBotoesAvisos !important;
                opacity: 80%;
                transition: 300ms;

                &:hover {
                    opacity: 100%;
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
                }
            }
        }

    }
}


.modal-content {
    color: $corTexto !important;
    background: rgb(1, 39, 28);
    background: linear-gradient(124deg, rgba(1, 39, 28, 1) 0%, rgba(16, 122, 98, 1) 100%);
    background-repeat: no-repeat;
}

.btn-close {
    background-color: $corBotoesAvisos !important;
    opacity: 80%;
    transition: 300ms;

    &:hover {
        opacity: 100%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    }
}



.containerBox{
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 40px;
    border: 2px solid $corTextoHover;

}
.container-cards{
    margin: 10px;
    justify-content: space-evenly;
    padding: 10px;

    & .card{
        background-color: $corBotoesEscuros;
        color: $corTexto;
        overflow: hidden;
        & .card-body{
            text-decoration: none;
            & .car-btn{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                & .card-price{
                    color: $corTextoPreco !important;
                    font-weight: 700;
                    font-size: 25px;
                    text-shadow: 0 2px 2px rgba(251, 255, 0, 0.25) !important;
                    transition: 300ms;
                    &:hover{
                        color: $corTexto !important;
                    }
                }
                & .card-promo{
                    color: $corTextoPreco !important;
                    padding: 5px;
                    font-weight: 600;
                    font-size: 22px;
                    text-shadow: 0 2px 2px rgba(251, 255, 0, 0.25) !important;
                    transition: 300ms;
                    text-decoration: line-through;
                    opacity: 80%;
                }
            }
        }
    }


}

.bannerPromo{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.promoLabel-none{
    display: none;
}

.promoLabel{
    display: block !important;
    position: absolute;
    transform: rotate(-45deg);
    background-color: $corPrimaria;
    top: 20px;
    left: -40px;
padding: 5px 40px 5px 40px;



}


.containerHeader{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    .btnCreator{
        background-color: $corBotoesEscuros;
        color: $corTextoHover;
        text-align: center;
        padding: auto;
        align-content: center;
        border-radius: 0px;
        font-weight: 700;
        &:hover{
            background-color: $corBotoesAvisos;
            color: $corTexto;
            opacity: 90%;
        }
    }
    a{
        text-decoration: none;
        color: $corTextoHover;
        transition: 200ms;
        &:hover{
            color: $corPrimaria;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
        }
    }
}

.containerStore{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    .containerStore-base{
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        .containerStore-base-carousel{
            background-color: $corBotoesEscuros;
            width: 80%;
        }
        .containerStore-base-info{
            width: 30%;
            margin-left: 10px;
            img{
                width: 100%;
            }
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .gameDescription{
                margin-top: 5px;
                font-size: 16px;
            }
            .fuctions{
                display: flex;
                
                flex-direction: row;
                text-decoration: none;
                align-items: center;
                .titleFuncion{
                    color: $corTextoFunction;
                    margin-right: 10px;
                    font-size: 12px;
                }
                .analiseBoa{
                    color: $corTextoAnaliseBoa;
                    font-size: 12px;
                }
                .analiseNeutra{
                    color: $corTextoAnaliseNeutra;
                    font-size: 12px;
                }
                .analiseRuim{
                    color: $corTextoAnaliseRuim;
                    font-size: 12px;
                }
                .creatorLink{
                    text-decoration: none;
                    color: $corTexto;
                    font-size: 12px;
                    &:hover{
                        color: $corBotoesHover;
                    }
                }
            }
        }

    }

}

.containerStore-main{
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    .containerStore-main-left{
        width: 70%;
        text-align: left;
        align-items: center;

        flex-wrap: wrap;
        .areaBuy{

            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-content: center;
            margin: auto;
            margin: 5px;
            padding: 5px;
            flex-wrap: wrap;
            backdrop-filter: blur(100px) !important;
            background: rgb(255,255,255);
            background: linear-gradient(196deg, rgba(255, 255, 255, 0.336) 0%, rgba(148, 148, 148, 0.233) 100%);
            h3{
                margin: auto;
                
            }
            .buttonBuy{
                background-color: $corFundoEscura;
                display: flex;
                margin: auto;
                border-radius: 5px 5px 5px 5px;
                justify-content: space-between;
                span{
                    padding: 10px;
                    border-radius: 5px 5px 5px 5px;
                    text-align: center;
                    align-items: center;
                    align-content: center;
                }
                .buy{
                    border-radius: 5px 5px 5px 5px;
                    text-align: center;
                    align-items: center;
                    align-content: center;
                    margin: 5px;
                    padding: 5px;
                    text-decoration: none;
                    color: $corTexto;
                    background-color: $corBotoesAvisos !important;
                    font-weight: 600;
                    transition: 300ms;
                    &:hover{
                        background-color: $corSecundaria !important;
                        color: $corTextoEscuro;
                    }

                }
            }
        }
        .divider{
            margin-top: 20px;
            margin-bottom: 5px;
            width: 100%;
            height: 1px;
            background: rgb(16,122,98);
            background: linear-gradient(90deg, rgba(16,122,98,1) 0%, rgba(148,148,148,0) 100%);

        }
        .sobre{
            display: flex;
            flex-direction: column;
            .cardRequisitos{
                display: flex;
                flex-direction: row;

                &-Left{
                    font-size: 12px;
                    color: #b4b4b4;
                    margin-right: 10px;
                    span{
                        color: $corTexto;
                    }
                }
                .cardRequisitos-Right{
                    font-size: 12px;
                    color: #b4b4b4;
                    span{
                        color: $corTexto;
                    }
                }

            }
            .creatorLink{
                text-decoration: none;
                color: $corTexto;
                font-size: 12px;
                &:hover{
                    color: $corBotoesHover;
                }
            }
        }

    }
    .containerStore-main-right{
        width: 30%;
        background-color: $corFundoClara;
    }
}

.analises{
    display: flex;
    flex-direction: column;
    .cardAnalises{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.062);
        margin-right: 10px;
        .cardAnalises-user{
            display: flex;
            flex-direction: row;
            width: 35%;
            padding: 5px;
            img{
                width: 40px;
                height: 40px;
                border: 2px solid $corBotoesEscuros;
            }
        }
        .cardAnalises-description{
            width: 60%;
            font-size: 18px;
            span{
                font-size: 12px;
            }
            .analiseDescricao{
                font-size: 12px;
                margin-top: 10px;
            }
            & .likeCard{
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                background-color: rgba(0, 0, 0, 0.199);
                & p{
                    margin-bottom: 0px;
                }

                & .analiseBoa{
                    margin-right: 5px;
                    padding: 5px;
                    background-color: $corTextoAnaliseBoa;
                    color: $corBotoesEscuros;
                } 
                & .analiseRuim{
                    margin-right: 5px;
                    padding: 5px;
                    background-color: $corBotoesAvisos;
                    color: $corTexto;
                } 


            }
        }
    }
}





.carousel-indicators img {
    width: 120px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.carousel-indicators button {
    width: max-content !important;
}

.carousel-indicators {
    position: unset; 
    display: flex;
    margin-bottom: 3rem;
}





// .loginPC {
//     display: flex;
//     flex-direction: column;
//     margin: 20px;
//     margin-left: 20%;
//     margin-right: 20%;



//     padding: 10px;
//     background-image: url(..//img/backgroundGreenPC.png);
//     border-radius: 10px;
//     border: 2px solid #83838383;

//     & .bannerLogin {
//         justify-content: space-evenly;
//         padding: 5px;
//         display: flex;

//         & .imgLoginPC{
//             width: 40%;
//             margin: 10px;
//             border-radius: 5px 0px 0px 5px;
//             box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
//         }

//     }



//     & .formLogin{
//         margin: 10px;
//     }




// }



//Desktop

@media (min-width: 480px) {
    footer{
        backdrop-filter: blur(100px);
        background-color: rgba(255, 255, 255, 0.05);
    }
    .footerBox {

        margin: auto;
        width: 70%;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media (min-width: 800px) {
    .loginPC {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
        padding: 10px;
        background-image: url(..//img/backgroundGreenPC.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerLogin {
            justify-content: space-evenly;
            padding: 5px;
            display: flex;
            flex-direction: row;

            & .imgLoginPC2 {
                width: 40%;
                height: auto;
                margin: 10px;
                display: flex;
                border-radius: 5px 0px 0px 5px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
            }

            & .imgLoginPC {
                display: none;
            }

            & .imgLoginMobile {
                display: none;
            }
        }

        & .formLogin {
            margin: 10px;
        }
    }

    .resetPassword {
        display: flex;
        flex-direction: row;
        margin: 20px;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: space-around;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



        padding: 10px;
        background-image: url(..//img/backgroundGreenMobile.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerPassword {
            justify-content: space-around;
            padding: 5px;
            display: flex;
            flex-direction: column;

            & .clas {
                display: flex;
                flex-direction: column;
                margin: auto;
            }
        }
    }

    .carrouselPC{
        display: flex;
    }
    .carrouselMobile{
        display: none;
    }


    
}

@media (min-width: 992px) {
    .navbar {
        & .divisorIcon-Nav {
            display: flex;
        }
    }

    .loginPC {
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
        padding: 10px;
        background-image: url(..//img/backgroundGreenPC.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerLogin {
            justify-content: space-evenly;
            padding: 5px;
            display: flex;
            flex-direction: row;

            & .imgLoginPC {
                width: 40%;
                margin: 10px;
                display: flex;
                border-radius: 5px 0px 0px 5px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
            }

            & .imgLoginPC2 {
                display: none;
            }

            & .imgLoginMobile {
                display: none;
            }
        }

        & .formLogin {
            margin: 10px;
        }
    }

    .resetPassword {
        display: flex;
        flex-direction: row;
        margin: 20px;
        margin-left: 30%;
        margin-right: 30%;
        justify-content: space-around;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);



        padding: 10px;
        background-image: url(..//img/backgroundGreenMobile.png);
        background-size: 100%;
        border-radius: 10px;
        border: 2px solid #83838383;

        & .bannerPassword {
            justify-content: space-around;
            padding: 5px;
            display: flex;
            flex-direction: column;

            & .formReset {
                display: flex;
                flex-direction: column;
                margin: auto;
            }
        }
    }
    .containerBox{
        width: 70%;
        margin: auto;
        margin-top: 10px;
    }
}